<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Students</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['list']" routerLinkActive="router-link-active">List <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['new']" routerLinkActive="router-link-active">New</a>
        </li>
      </ul>
    </div>
    <div>
      <span><label style="color:#F7F8E0"></label></span>
      <span><label class="badge badge-pill badge-light ml-5">{{countStudents$ | async}}</label></span>
    </div>
  </nav>
